body {
	min-width: 1200;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: normal;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #849d8f;
}

body > input[type="radio"] {
    display: none;
}

h1{
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto";
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: medium;
	font-family: "Roboto";
}

.site-wrapper {
    min-width: 940px;
    min-height: 1000px;
    background-color: #849d8f;
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper:before,
.site-wrapper:after {
    content: "";
    visibility: hidden;
}
.site-wrapper:before {
    background-image: url("slide-2.png");
}
.site-wrapper:after {
    background-image: url("slide-3.png");
}
.content-wrapper {
    width: 1148px;
    margin: 0 auto;
    padding: 0 26px;
}

.slider{
	position: relative;
    padding-top: 276px;
	margin-bottom: 40px;
    text-align: center;
	font-size: 18px;
	line-height: 1.2;
    color: #ffffff;
/* 	outline: 1px solid red; */
}
.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 60px;
    line-height: 60.35px;
}
.slide-btn {
    display: inline-block;
    padding: 12px 42px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;
    font-size: 0;
}
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.label-1:hover{
    background-color: rgba(255,255,255,0.4)
}
.label-2:hover{
    background-color: #b2c1b7;
}
.label-3:hover{
    background-color: #b2c1b7;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide1.png");
}

#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide2.png");
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
	width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
	outline: 1px solid yellow;
}
.index-logo {
	float:left; 
	margin-top:10px;
	margin-right:16px;
	margin-left:-6px;
	width: 154px;
}
.main-menu {
	float:left;
	margin-top: 19px;
	list-style: none;
	width: 410px; 
	padding-left: 0;
}
.main-menu > li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
/* 	font-weight: bold; */
    vertical-align: top;
}
.main-menu a{
	display: block;
	padding: 10px 13px;
	color: #ffffff;
    text-decoration: none;
}
.main-menu a > span{
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.main-menu a:hover {
    border-radius: 20px;
	color: #333333;
    background: #f7f6f3;
 }
.main-menu a:hover span{
	border-bottom: none;
 }
.main-menu > a:active{
	border-radius: 20px;
	box-shadow: inset 0 2px 1px 0 #696969;
	color: #333333;
    background: #f7f6f3;
}
.main-menu .sub-menu {
    position: absolute;
	display: none;
	width: 142px;
	border-radius: 5px;
    margin: 0;
    padding: 0;
	font-size: 14px;
	line-height: 16px;
    list-style: none;
	box-shadow: 0;
	background: #f8f7f4;
	overflow: hidden;
	z-index: 2;
}
.main-menu .sub-menu a {
	display: block;
	padding: 10px 14px;
    color: #333333;
	text-decoration: none;
}
.sub-menu{
	box-shadow: 10px 0px 20px 0px rgba(50, 50, 50, 0.4),
	-10px 0 20px 0px rgba(50, 50, 50, 0.4),
	0 20px 20px 0px rgba(50, 50, 50, 0.4);
}
.main-menu > li:hover .sub-menu {
    display: block;
}
.sub-menu a:hover{
	border-radius: 0;
	background: #fbded7;
}
.sub-menu a:active{
	border-radius: 0;
	background: #f6b5a5;
}
.sub-menu li:nth-child(1) {
	border-bottom: solid 1px #d1d0ce;
}
.main-menu  > .active > a { /* находимся на странице О компании */
	border-radius: 20px;
    color: #ffffff;
    background: #d07058;
}
.main-menu  .active-item{
	border-bottom: none;
}
.sub-menu  .active a { /* находимся на странице Щербет */
    color: #ffffff;
    background: #d07058;
}
.user-block {
	float:right;
	margin-top: 22px;
	font-size: 0;
	margin-left: 300px; 
}
.search{
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	vertical-align: top;
	font-size: 12;
	background-color: rgba(248,247,244,0.2);
}
.search:hover {
    background-color: rgba(248,247,244,1);
}

.search::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 8px;
	width: 17px;
    height: 17px;
	background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -552px;
}
.search:hover::before {
	background-position: -10px -589px;
}

.modal-search{
	display: none;
	position: absolute;
	top: 38px;
	left: 40%;
	width: 311px;
	margin-left: -139px; 
	padding: 20px 15px;
	border-radius: 5px;
	color:#323232;
	background: #f8f7f4;
	box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4),
	-5px 0px 20px rgba(0, 0, 0, 0.4); 
}
.search:hover .modal-search{
	display: block;
}
.search-form input[type="text"]{
	width: 281px;
	padding: 10px 15px;
	border-radius: 10px;
	font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
	color: #999999;
}

.login {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	padding: 9px 16px;
	padding-left: 44px;
	border-radius: 20px;
	vertical-align: top;
	font-size: 14px; 
	font-weight: medium;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(248,247,244,0.2);
}
.login:hover {
    background-color: rgba(248,247,244,1);
    color: #323232;
}
.login::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px; /* 20 на 20? */
    height: 19px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -474px;
}
.login:hover::before {
    opacity: 1;
    background-position: -10px -513px;
}
.modal-login{
	display: none;
	position: absolute;
	top: 100px;
	left: 50%;
	width: 238px;
	margin-left: -139px; /* посредине экрана */
	padding: 20px;
	border-radius: 2%;
	color:#323232;
	background: #f8f7f4;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4),
	-5px 0px 20px rgba(0, 0, 0, 0.4); /* переделать тени */
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 225px;
	padding: 8px;
    margin-bottom: 20px;
	border-radius: 10px;
	font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #999999;
}
.login-form a{
	display: inline-block;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
}
.login-form .btn{
	float: left;
	margin-right: 16px;
}
.login:hover .modal-login{
	display: block;
}

.cart {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	padding: 9px 33px;
	padding-left: 45px;
	border-radius: 20px;
	font-size: 14px; 
	font-weight: medium;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(248,247,244,0.2);
}
.cart::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 20px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -90px;
}

/* Заполненная корзина для каталога: */
.cart-catalog {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	padding: 9px 15px;
	padding-left: 44px;
	
	border-radius: 20px;
	font-size: 14px; 
	font-weight: 700;
	line-height: 16px;
	text-decoration: none;
	color: #323232;
	background-color: #ffffff;
}
.cart-catalog::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 20px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -50px;
}

.header-phone {
	float: right;
	margin-top: 15px;
	width: 175px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align:right;
	color: #ffffff;
}
.number {
	display: block;
	margin-top: 5px;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}
.main-header {
	color: #323232;
}

.slide {
	text-align: center;
}

.slide2,
.slide3 {
	display: none;
}
.gifts-item{
	float: left;
	margin-right: 26px;
	margin-bottom: 34px; 
	padding: 18px 20px;
	width: 520px;
	min-height: 194px;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	border-radius: 15px;
	color: #ffffff;
}
.gifts-item:last-child {
    margin-right: 0;
}
.gifts-name {
	font-size: 35px;
	line-height: 41px;
}
.gifts-item-raspberries{
	background-image: url("../img/background-strawberry.jpg"); 
	position: relative;
}
.gifts-item-chocolate{
	background-image: url("../img/background-chocolate.jpg");
	position: relative;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}
.btn:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.gifts-item-raspberries .btn {
	position: absolute;
	left: 374px;
	top: 160px;
}
.gifts-item-chocolate .btn {
	position: absolute;
	left: 350px;
	top: 160px;
}

.catalog {
	font-size:0;
	margin:0 -10px;
	/* text-align: center; */
}
.catalog-item{
	width: 25%;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 0;
	margin-bottom: 18px;
	vertical-align:top;
	font-size: 16px;
	text-align: center;
	position: relative;
}
.catalog-item-pic-out{
	display: inline-block;
	width: 268px;
	height: 268px;
	border-radius: 50%;
	overflow: hidden;
}
.catalog-item-inner .btn{
	display: none;
}
.catalog-item-inner:hover .btn{
	display: inline-block;
	
}
.catalog-item-inner{
	padding: 6px 13px 20px;
	left: 0;
	right: 0;
}
.catalog-item-inner:hover{
    background: rgba(255,255,255, 0.2);
	z-index: 1;
	position: absolute;
}
.catalog-item-inner:hover  .catalog-item-info{
	margin-bottom: 8px;
}
.catalog-item-inner:hover span{
	border-bottom: none;
}
.catalog-item:last-child {
    margin-right: 0;
}
.catalog-item:nth-child(4n){ 
    margin-right: 0; 
}
.catalog-item-pic{
	margin-bottom: 7px;
}
.catalog-item-info {
	display: inline-block;
	font-weight: medium;
	color: #ffffff;
	text-align: center; 
}
/* Подчеркивание для ссылок каталога: */
a.catalog-item-info{
	text-decoration: none;
}
.catalog-item-inner a > span{
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.catalog-item-price{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(49, 50, 53, 0.5);
	position: absolute;
	top: 215px;
	left: 15px;
}
.catalog-item-price span {
	font-size: 30px;
}
.hit{
	position: absolute;
	top: 6px;
	left: 14px;
	width: 61px;
    height: 61px;
	z-index: 3;
}

.features-content {
	margin-bottom: 40px;
	border-radius: 10px;
	background: #849d8f url("../img/background-main.jpg"); 
}
.features-content-left {
	float:left;
	width: 540px;
	margin-left: 20px;
	position: relative;
}
.features-content-right{
	float: left;
	width: 540px;
	margin-left: 26px;
	position: relative;
}
.features-description{
	margin: 0;
	margin-bottom: 22px;
	padding-top: 22px;
	padding-left: 20px;
	padding-right: 20px;
}
.features-content p{
	margin:0;
	margin-bottom: 24px;
	padding-left: 56px;
}

.ic-icon::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0px;
    width: 49px;
    height: 49px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -284px;
}
.leaf-icon::before {
    content: "";
    position: absolute;
    top: 74px;
    left: 0px;
    width: 49px;
    height: 49px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -405px;
}
.cow-icon::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0px;
    width: 49px;
    height: 49px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -130px;
} 
.temp-icon::before {
    content: "";
    position: absolute;
    top: 74px;
    left: 0px;
    width: 49px;
    height: 49px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -626px;
}
.index-content-item{
	float: left;
	margin-right: 26px;
	margin-bottom: 40px;
	width: 520px;
	padding:20px;
	min-height: 180px;
	border-radius: 10px;
}
.index-content-item:last-child {
    margin-right: 0;
  
}
.news{
	padding-top: 24px;
	min-height: 176px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	background-image: url("../img/background-news.jpg");
    background-size: 560px 220px;	
}
.index-content-item a:hover{
	color: #e84d37;
}
.index-content-item a:active{
	color: #e84d37;
}
.news-content{
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}
.email{
	padding-left: 26px;
	padding-right: 26px;
	width: 508px;
	font-size: 16px;
	line-height: 22px;
	background-image: url("../img/background-email-2.png");
 }
.email-form input{
	width: 336px;
	padding: 9px 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
}
.email-form input[type="text"]{
	border-radius: 10px;
}
.email-form .btn{
    float: right;
	font-size: 18px;
	line-height: 24px;
	padding: 11px 16px;
}
.email p{
	margin-top: 12px;
	margin-bottom: 35px;
}

.map-c {
	position: relative;
	height: 430px;
	width: 1200px;
	margin: 0 auto;
	text-align: center; 
    background: url("../img/map.jpg") center no-repeat;	
}

.feedback{
	position: absolute;
	z-index: 10;
	top: 62px;
	left: 871px;
/* 	display: inline-block; */ 
	padding: 30px 26px;
	padding-top: 18px;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	border-radius: 10px;
	background: white;
} 
.feedback p{
	margin-bottom: 20px;
}
.feedback .btn{
	margin-top: 5px;
	padding-right: 26px;
	padding-left: 26px;
}
.contacts{
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
} 

.main-footer {
    margin-top: 26px;
}
.footer-social{
	float: left;
	margin-right: 198px;
	margin-top: 0px;
	width: 200px;
	font-size: 0;
	outline: 1px solid red;
}
.social-btn{
	display: inline-block;
	margin-right: 12px;
	margin-bottom: 0px;
	vertical-align: top;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 3px solid #c2cec7;
	position: relative;
}
.social-btn::before{
	content: "";
    position: absolute;
	top: 0;
    left: 0;
	width: 32px;
    height: 32px;
	opacity: 0.8;
	background-image: url("../img/sprite.png");
    background-repeat: no repeat;
}

.social-btn-tw::before{
	background-position: -10px -695px;
}
.social-btn-tw:hover{
	opacity: 1;
}
.social-btn-tw::active{
	box-shadow: inner 0 2px 0 0 #888888; /* тень при нажатии */
}
.social-btn-inst::before{
	background-position: -10px -353px;
}
.social-btn-inst:hover{
	opacity: 1;
}
.social-btn-inst::active{
	box-shadow: inner 0 2px 0 0 #888888; 
}
.social-btn-fb::before{
	background-position: -10px -199px;
}
.social-btn-fb:hover{
	opacity: 1;
}
.social-btn-fb::active{
	box-shadow: inner 0 2px 0 0 #888888; 
}
.social-btn-vk::before{
	background-position: -10px -747px;
}
.social-btn-vk:hover{
	opacity: 1;
}
.social-btn-vk::active{
	box-shadow: inner 0 2px 0 0 #888888;
}

.footer-about-us {
	float: left;
	width: 330px;
	font-size: 0px;
}
.footer-about-us a{
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.footer-about-us a:hover{
	color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,0.3);
}
.footer-about-us a:active{
	color: #ffbc9e;
}
.about-production {
	margin-left: 23px;
}
.our-documents{
	margin-left: 32px;
}	
.ecological-standards{
	margin-left: 44px;
}	
.for-suppliers{
	position: relative;
	display: inline-block;
	margin-left: 23px;
}	
.for-suppliers::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -22px;
    width: 15px;
    height: 13px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -251px;
}	
	
.footer-copyright{
	float:right;
	width: 190px;
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}
.footer-logo{
	margin-top: -18px;
}
.footer-copyright a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.footer-copyright a:hover{
    color: #ffbc9e;
	border-bottom: 1px solid rgba(255,188,158,0.3);
}
.footer-copyright a:active{
    color: #ffbc9e;
	border-bottom: 1px solid rgba(255,188,158,0.3);
}
.footer-copyright p{
	margin-top: -2px;
}

/* Каталог */

.breadcrumbs{
	margin-top: -19px;
}
.breadcrumbs a {
	float: left;
	position: relative;
	margin-right: 20px;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff;
}
.breadcrumbs a > span{
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.breadcrumbs a:hover{
	color: #ffbc9e;
}
.breadcrumbs a:hover span{
	border-bottom: 1px solid rgba(255,188,158,0.3);
}
.breadcrumbs a:active{
	color: #ffbc9e;
}
.breadcrumbs a:active span{
	border-bottom: 1px solid rgba(255,188,158,0.3);
}
a.breadcrumbs-arrow::after{
	content: "\00BB";
    position: absolute;
	color: #ffffff;
    top: 0px;
    left: 60px;
    width: 6px;
    height: 6px;
}
a.breadcrumbs-active > span{
	border-bottom: none;
}
a.breadcrumbs-active > span:hover{
	border-bottom: none;
}
/* .catalog{
	margin-bottom: 43px;
} */
.catalog-filter{
	margin-bottom: 34px;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
}
.catalog-filter-name{
	margin-top: 2px;
	margin-bottom: 33px;
}
.catalog-filter-sorting{
	float: left;
	margin-right: 15px;
	margin-top: -7px;
}
.catalog-filter-sorting span{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-bottom: 7px;
}
.sorting-choice{
	width: 162px;
	border-radius: 20px;
	background:  rgba(255,255,255,0.2);
	text-align: center;
	padding: 7px 16px;
	padding-left: 15px;
}
.sorting-choice select{
	font-size: 16px;
	line-height: 18px;
	background: transparent;
	outline: none;
	color: inherit;
}
.sorting-choice:hover{
	background: #ffffff;
	color: #323232;
}

.filter-range-title{
	display: inline-block;
	margin-left: 14px;
	vertical-align: top;
}
.catalog-filter-range{
	float: left;
	margin-right: 15px;
	margin-top: -6px;
	width: 218px;
}

.price-controls{
	display: inline-block;
	height: 16px;
	margin-bottom: 6px;
	/* font-size:0; */
	vertical-align: top;
}
.price-controls label { /* надписи руб. */
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
}
.price-controls input { /* поля ввода */
    width: 25px;
    margin: 0;
    color: inherit;
    font: inherit;
	background: none;
    border: none;
}
.range-controls{
	position: relative;
	width: 187px;
	height: 20px;
	padding-top: 16px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 20px;
	background:  rgba(255,255,255,0.2);
}
.range-controls .scale {
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
}
.range-controls .bar {
    width: 60%;
    height: 4px;
    margin-left: 20px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.1); /* поправить! */
}
.range-toggle-min{
	left: 30px;
}
.range-toggle-max{
	left: 140px;
}

/* Фильтр жирность: */

.catalog-filter-fat{
	float: left;
	margin-top: -6px;
}
.catalog-filter-fat .filter-fat-title{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-bottom: 6px;
}
.fat-choice{
	width: 384px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
	padding: 10px 16px;
}

.fat-radio input[type="radio"] {
    display: none;
}

.fat-radio {
    position: relative;
    padding-left: 29px;
    cursor: pointer;
	margin-right: 18px;
}
.fat-radio:last-child {
    margin-right: 0;
}

.fat-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 0px;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}
/* Когда выбран: */

.fat-radio input[type="radio"]:checked + .radio-indicator::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 11px;
    height: 11px;
	border-radius: 50%;
    background-color: #ffffff;
}

/* Фильтр с наполнителями : */

.catalog-filter-flavors{
	float: left;
	margin-top: 14px;
	margin-right: 14px;
}
.filter-flavors-title{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-bottom: 6px;
}
.flavors-choice{
	width: 668px;
	padding: 9px 17px;
	border-radius: 20px;
	font-size: 16px;
	line-height: 18px;
	background-color: rgba(255,255,255,0.2);
}
.flavors-checkbox input[type="checkbox"] {
    display: none;
}
.flavors-checkbox {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
	margin-right: 22px;
}
.flavors-checkbox:last-child {
    margin-right: 0;
}
.flavors-checkbox input[type="checkbox"] +.checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
	border-radius: 2px;
    border: 1px solid #ffffff;
}
.flavors-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 6px;
    width: 11px;
    height: 2px;
	border-radius: 1px;
	background-color: #ffffff;
}
.flavors-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
    content: "";
    position: absolute;
    top: 9px;
    left: 3px;
    width: 7px;
    height: 2px;
	border-radius: 1px;
	background-color: #ffffff;
}
.checkbox-indicator::before {
    transform: rotate(-45deg);
}

.checkbox-indicator::after {
    transform: rotate(50deg);
}
/* Кнопка применить */

.btn-apply{
	float:left;
	padding: 8px 28px;
	margin-top: 36px;
	font-weight: 500;
    font-size: 16px;
    line-height: 18px;
	color: #ffffff;
	border-radius: 100px;
	border: 2px solid rgba(252,252,252,1);
	background-color: rgba(255,255,255,0.2);
	text-decoration: none;
}
.btn-apply:hover{
	color: #323232;
	background-color: rgba(255,255,255,1);
}
.btn-apply:active{
	/* background: #a6b8ae; */
	box-shadow: inner 0 2px 1px rgba(105, 105, 105, 1); /* переделать */
}

/* Переключатель страниц */

.paginator{
	float: right;
	position: relative;
	width: 190px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 0;
}
.prev::before{
	content: "";
	position: absolute;
	top: 6px;
	left: 0px;
	width: 9px;
    height: 14px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -799px;
	opacity: 0.2;
}
.next::before{
	content: "";
	position: absolute;
	top: 6px;
	right: 0px;
	width: 9px;
    height: 14px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -833px;
}

.paginator .page {
	display: inline-block;
    padding: 4px 9px;
	margin-right: 2px;
	vertical-align: middle;
	/* text-align: center; */
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	border-radius: 50%;
	color: #ffffff;
}
.paginator .page:last-child {
	margin-right: 0;
}
.paginator .current-p{
	color: #323232;
	background: #ffffff;
}
.paginator .page:hover{
    background: rgba(255,255,255,0.2)
}
.paginator .page:active{
	color: #323232;
	background: #ffffff;
}
.paginator .prev {
	margin-right: 14px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.paginator .next {
	margin-left: 14px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}


.catalog-line{
	display: inline-block;
	margin-bottom: 0px;
	width: 1146px;
}

/* Всплывающие формы */


/* Корзина с товарами */

.modal-cart{
	display: none;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -270px;
	padding: 20px 15px;
	width: 510px;
	
	border-radius: 5px;
	background:  #f8f7f4;
	box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4),
	-5px 0px 20px rgba(0, 0, 0, 0.4); /* переделать тени */
}

.modal-cart table{
	margin-bottom: 14px;
	font-size: 13px;
    line-height: 16px;
	border-collapse: collapse;
	color: #333333;
}

.cart-product-name{
	position: relative;
	padding-left: 72px;
	width: 57%;
}
.cart-row-1 td {
    padding-bottom: 26px;
    padding-top: 11px;
}
.cart-row-2 td{
    border-bottom: 1px solid #ccccc9;
	padding-bottom: 16px;
	padding-top: 11px;
    
}
.cart-calculation{
	padding-left: 28px;

}
.cart-calculation span {
	color: #999999;

}
.cart-product-sum{
	padding-left: 0;
}
.cart-total{
	display: block;
	float: right;
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 18px;
	outline: 1px solid black;
}
.modal-cart .btn{
	float: right;
	outline: 1px solid black;
}

@keyframes bounce {
  0%   {
    transform: translateY(2500px);
  }
  70%  {
    transform: translateY(1000px);
  }
  
  90%  {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-feedback{
	display: none;
	position: fixed;
	z-index: 21;
    top: 100px;
    left: 50%;
    margin-left: -239px;
	width: 430px;
	padding: 17px 24px;
	border-radius: 10px;
	color: #323232;
	background: #f8f7f4;
}
.modal-feedback-show {
    display: block;
	animation: bounce 0.6s;
}

.modal-feedback-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-feedback-close::before,
.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  width: 22px;
  height: 3px;
  background-color: #1f1f1f;
/*   border-radius: 1px; */
}
.modal-feedback-close::before {
  transform: rotate(45deg);
}

.modal-feedback-close::after {
  transform: rotate(-45deg);
}
.modal-feedback-title {
	display: block;
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}
.feedback-form{
	margin-bottom: 1px;
}

.feedback-form input[type="text"]{
    width: 238px;
    margin: 0;
    margin-bottom: 20px;
    padding: 9px 15px 7px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    border-radius: 5px;
    color: #999999;
}
.feedback-form textarea[name="fb-wishes"]{
	width: 398px;
	min-height: 139px;
	padding: 9px 15px 7px;
	margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    border-radius: 5px;
    color: #999999;
}
.feedback-btn{
	float: right;
	margin-bottom: 11px;
	padding: 10px 21px;
}
.modal-overlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 20;
   width: 100%;
   height: 100%;
   background: rgba(50, 50, 50, 0.3);
}
.modal-overlay-show {
    display: block;
}

/* Выбрать, вставлять картинку через псевдоэлемент в png или картинкой в jpg */

.cart-row-1 .cart-product-name::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 26px;
	width: 33px;
    height: 33px;
	background: transparent url("../img/cart-orange.png") no-repeat;
}
.cart-product-name .cart-product-image{
	position: absolute;
	top: 1px;
	left: 26px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	overflow: hidden;
	background: #f8f7f4;
}
.cart-product-del {
	position: absolute;
	top: 10px;
	left: 5px;
    width: 10px;
    height: 11px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.cart-product-del::before,
.cart-product-del::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 14px;
  height: 2px;
  background-color: #7d7d7b;
  border-radius: 1px;
}
.cart-product-del::before {
  transform: rotate(45deg);
}

.cart-product-del::after {
  transform: rotate(-45deg);
}



/* Спрайт */

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-filter-checked {
    width: 20px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-full-cart {
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-icon-cart {
    width: 21px;
    height: 20px;
    background-position: -10px -90px;
}

.sprite-icon-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -130px;
}

.sprite-icon-fb {
    width: 32px;
    height: 32px;
    background-position: -10px -199px;
}

.sprite-icon-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -251px;
}

.sprite-icon-ice-cream {
    width: 49px;
    height: 49px;
    background-position: -10px -284px;
}

.sprite-icon-insta {
    width: 32px;
    height: 32px;
    background-position: -10px -353px;
}

.sprite-icon-leaf {
    width: 49px;
    height: 49px;
    background-position: -10px -405px;
}

.sprite-icon-login {
    width: 21px;
    height: 19px;
    background-position: -10px -474px;
}

.sprite-icon-login-hov {
    width: 21px;
    height: 19px;
    background-position: -10px -513px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -552px;
}

.sprite-icon-search-hov {
    width: 17px;
    height: 17px;
    background-position: -10px -589px;
}

.sprite-icon-thermometer {
    width: 48px;
    height: 49px;
    background-position: -10px -626px;
}

.sprite-icon-twitter {
    width: 33px;
    height: 32px;
    background-position: -10px -695px;
}

.sprite-icon-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -747px;
}

.sprite-left-arrow {
    width: 9px;
    height: 14px;
    background-position: -10px -799px;
}

.sprite-right-arrow {
    width: 9px;
    height: 14px;
    background-position: -10px -833px;
}

